<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/register.css" type="text/css">
    </head>
    <body>
        <form id = "register" name = "reigster" method = "POST" action = "http://localhost:3000/register">
            <input type = "text" id = "register_id" name = "register_id" placeholder = "ID">
            <input type = "text" id = "register_password" name = "register_password" placeholder = "PASSWORD"><br>
            <input type = "text" id = "register_correct" name = "register_correct" placeholder = "RETYPE PASSWORD"><br>
            <input type = "submit" id = "register_submit" value = "회원가입">
        </form>

        <script src="/js/register_check.js"></script>
    </body>
</html>